#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/display/panel.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {

	model = "ESP32S3-EYE-V2";
    compatible = "espressif,esp32s3";

	aliases {
		led0 = &power_led;
		sw0  = &boot_button;
	};

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &st7789v;
		zephyr,camera = &lcd_cam_dvp;
	};


	buttons {
		compatible = "gpio-keys";
		boot_button: button_0 {
			gpios = <&gpio0 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
		};
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&adc0 0>;
		keyup-threshold-mv = <3300>;
		sample-period-ms = <50>;

		menu_key: key_menu {
			press-thresholds-mv = <2800>;
			zephyr,code = <INPUT_KEY_MENU>;
		};
		play_key: key_play {
			press-thresholds-mv = <1920>;
			zephyr,code = <INPUT_KEY_PLAY>;
		};
		up_key: key_up {
			press-thresholds-mv = <350>;
			zephyr,code = <INPUT_KEY_UP>;
		};
		down_key: key_down {
			press-thresholds-mv = <800>;
			zephyr,code = <INPUT_KEY_DOWN>;
		};
	};

	leds {
		compatible = "gpio-leds";
		power_led: led_0 {
			/* GPIO3 must be open-drain — driving high will burn the LED */
			gpios = <&gpio0 3 GPIO_OPEN_DRAIN>;
			label = "Power LED";
		};
	};
	
	mipi_dbi {
		compatible = "zephyr,mipi-dbi-spi";
		dc-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		spi-dev = <&spi3>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			mipi-max-frequency = <20000000>;
			reg = <0>;
			width = <240>;
			height = <240>;
			x-offset = <0>;
			y-offset = <0>;
			vcom = <0x19>;
			gctrl = <0x35>;
			vrhs = <0x12>;
			vdvs = <0x20>;
			mdac = <0x00>;
			gamma = <0x01>;
			pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
			lcm = <0x2c>;
			porch-param = [0c 0c 00 33 33];
			cmd2en-param = [5a 69 02 01];
			pwctrl1-param = [a4 a1];
			pvgam-param = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
			nvgam-param = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
			ram-param = [00 f0];
			rgb-param = [cd 08 14];
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
		};
	};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* GPIO1 = ADC1_CH0 — resistor ladder for function keys */
	channel@0 {
		reg = <0>;
		zephyr,gain             = "ADC_GAIN_1_4";
		zephyr,reference        = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution       = <12>;
	};
};

&dma {
	status = "okay";
};

&gpio0 { 
	status = "okay"; 
};  

&gpio1 { 
	status = "okay"; 
};  

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";

	ov2640: ov2640@30 {
		compatible = "ovti,ov2640";
		reg = <0x30>;
		status = "okay";
		clock-rate-control = <0x80>;

		port {
			ov2640_ep_out: endpoint {
				remote-endpoint = <&dvp_ep_in>;
			};
		};
	};
};

&lcd_cam {
	status = "okay";
	pinctrl-0 = <&lcd_cam_default>;
	pinctrl-names = "default";
};

&lcd_cam_dvp {
	status = "okay";
	cam-clk = <10000000>;
	source = <&ov2640>;

	port {
		dvp_ep_in: endpoint {
			remote-endpoint = <&ov2640_ep_out>;
		};
	};
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			pinmux = <I2C1_SDA_GPIO4>,
				 <I2C1_SCL_GPIO5>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};

	spim3_default: spim3_default {
		group1 {
			pinmux = <SPIM3_SCLK_GPIO21>,
				 <SPIM3_CSEL_GPIO44>;
		};

		group2 {
			pinmux = <SPIM3_MOSI_GPIO47>;
			output-low;
		};
	};

	lcd_cam_default: lcd_cam_default {
		group1 {
			pinmux = <LCD_CAM_CAM_CLK_GPIO15>;
			output-enable;
		};

		group2 {
			pinmux = <LCD_CAM_V_SYNC_CAM_GPIO6>,
				 <LCD_CAM_H_ENABLE_CAM_GPIO7>,
				 <LCD_CAM_CAM_PCLK_GPIO13>,
				 <LCD_CAM_DATA_IN0_GPIO11>,
				 <LCD_CAM_DATA_IN1_GPIO9>,
				 <LCD_CAM_DATA_IN2_GPIO8>,
				 <LCD_CAM_DATA_IN3_GPIO10>,
				 <LCD_CAM_DATA_IN4_GPIO12>,
				 <LCD_CAM_DATA_IN5_GPIO18>,
				 <LCD_CAM_DATA_IN6_GPIO17>,
				 <LCD_CAM_DATA_IN7_GPIO16>;
			input-enable;
			bias-disable;
		};
	};

	sdhc0_default: sdhc0_default {
		group1 {
			pinmux = <SDHC0_CMD_GPIO38>,
				 <SDHC0_CLKOUT_GPIO39>,
				 <SDHC0_DATA0_GPIO40>;
			bias-pull-up;
			output-high;
		};
	};
};

&psram0 {
  size = <DT_SIZE_M(8)>;
};

&spi3 {                        
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&spim3_default>;
    pinctrl-names = "default";
};

&uart0 {
	status = "disabled";
};

&usb_serial {
	status = "okay";
};

&wifi {
    status = "okay";
};

zephyr_udc0: &usb_otg {
	status = "okay";
};


